* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #121212;
  color: white;
  font-family: Arial, sans-serif;
}

.container {
  width: 90%;
  max-width: 500px;
  margin: 30px auto;
}

h1 {
  text-align: center;
  color: #b26cff;
  margin-bottom: 20px;
}

.card {
  background: #1e1e1e;
  border-radius: 12px;
  padding: 15px;
  margin-bottom: 20px;
}

h2 {
  margin-bottom: 10px;
  font-size: 18px;
}

input[type="file"] {
  width: 100%;
  margin-top: 10px;
}

textarea {
  width: 100%;
  height: 120px;
  border: none;
  border-radius: 8px;
  padding: 10px;
  resize: none;
  background: #2b2b2b;
  color: white;
}

button {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 10px;
  background: #8a2be2;
  color: white;
  font-size: 18px;
  cursor: pointer;
  margin-bottom: 20px;
}

button:hover {
  background: #9d4dff;
}

img {
  width: 100%;
  border-radius: 10px;
  margin-top: 10px;
  display: none;
}
